@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Authorization</title>
</head>
<body>
    <h1>Authorization</h1>

@if (User.Identities.Any(u => u.IsAuthenticated))
{
    <h1>
        Hello @User.Identities.First(u => u.IsAuthenticated &&
                                     u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
    </h1>
}

    <p>@Html.ActionLink("Enter Building", "EnterBuilding", "Home")</p>

</body>
</html>